button {
    margin-left: 20px;
    padding: 5px;
    background-color: lightblue;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: lightskyblue 2px 2px;
}

input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0;
    outline: none;
}