.user .image {
    width: 30px;
    height: 30px;
}

.numbers {
    width: 600px;
}

span {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

.user .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.list li {
    list-style: none;
    margin-bottom: 10px;
}

.selectedPage {
    font-weight: bold;
}